:root {
  --checkbox-size: 24px;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Nanum Gothic", sans-serif;
  line-height: 1.2;
}

input,
textarea,
button {
  font-family: "Nanum Gothic", sans-serif;
}

section {
  margin: 0 1rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

form {
  display: grid;
  grid-auto-flow: rows;
}

form > input {
  margin-bottom: 1.5rem;
}

fieldset {
  display: grid;
  grid-template-columns: min-content max-content;
  grid-row-gap: 1rem;
  grid-column-gap: 10px;
  align-items: center;
  margin-bottom: 1.5rem;
  /*  reset fieldset defaults  */
  border: none;
  padding: 0;
}

legend {
  margin-bottom: 1rem;
}

input[type="checkbox"],
input[type="radio"] {
  appearance: none;
  border: 1px solid black;
  height: var(--checkbox-size);
  width: var(--checkbox-size);
  position: relative;
}

input[type="radio"] {
  border-radius: 50%;
}

input[type="checkbox"]::after,
input[type="radio"]::after {
  content: "";
  display: inline-block;
  position: absolute;

  transition: transform 100ms ease-in;
}

input[type="checkbox"]::after {
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  width: 6px;
  height: 12px;
  margin: 0 7px;

  opacity: 0;
}

input[type="checkbox"]:checked::after {
  opacity: 1;
  transform: rotate(38deg);
}

input[type="radio"]::after {
  background-color: purple;
  width: calc(var(--checkbox-size) - 8px);
  height: calc(var(--checkbox-size) - 8px);
  border-radius: 50%;
  margin: 3px;

  transform: scale(0);
}

input[type="radio"]:checked::after {
  transform: scale(1);
}

button {
  justify-self: center;
  margin: 1.5rem 0;

  border: none;
  background-color: transparent;
  box-shadow: 0 0 0 1px black;
  padding: 0.5rem 0.8rem;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
  box-shadow: 0 0 4px #ddf;
}

input:focus,
textarea:focus {
  background-color: #ddf;
}

.formContainer {
  display: grid;
  grid-template-columns: 1fr;
}

svg {
  justify-self: center;
}

.navContainer {
  display: block;
  width: 80%;
  left: 10%;
  right: 10%;
  position: absolute;
}

@media (min-width: 500px) {
  section {
    max-width: 40rem;
    align-self: center;
  }

  .formContainer {
    display: grid;
    grid-template-columns: 3fr 5fr 3fr;
  }

  form {
    grid-template-columns: max-content 1fr;
    grid-column-gap: 1rem;
  }

  label {
    justify-self: end;
  }

  fieldset label,
  label[for="story"] {
    justify-self: start;
  }

  fieldset,
  label[for="story"],
  textarea,
  button {
    grid-column-start: 2;
  }
}

@media (min-width: 700px) {
  form section {
    flex-direction: row;
    align-items: flex-start;
  }

  form section img {
    flex: 0 1 30%;
  }

  form section form {
    flex: 1 1 70%;
  }
}
